#table {
    display: table;
    width: 100%;
    border-collapse: collapse
}
#table.show {
    display: table;
    width: 100%;
    border-collapse: collapse;

}
#table .tbody td {
    text-align: center;
    padding: 5px 0;
}
#table thead tr {
        border-bottom: 2px solid black;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.form-group {
    display: flex;
    margin-bottom: 10px;
}
label {
    width: 100px;
}
input[type='checkbox'] {
    padding: 0;
    margin: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: white;
    margin: 10% auto;
    width: 40%;
    padding: 20px;
}
.modal-close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
}
.modal-close:hover {
    color: black;
}